<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Изменить</title>
</head>
<body>

<form th:method="PATCH" th:action="@{/customers/{id}(id=${customer.getId()})}" th:object="${customer}">
    <label for="name">Enter name: </label>
    <input type="text" th:field="*{firstname}" id="name"/>

    <label for="lastname">Enter lastname: </label>
    <input type="text" th:field="*{lastname}" id="lastname"/>

    <label for="email">Enter email: </label>
    <input type="text" th:field="*{email}" id="email"/>

    <label for="age">Enter age: </label>
    <input type="text" th:field="*{age}" id="age"/>
    <br/>
    <input type="submit" value="Update!"/>
</form>

</body>
</html>